<% include ../header %>
<div class="container">
<a class="btn btn-primary" href="/showtasks">New Task</a>
<div class="container" style="padding-top:1%">
     <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Task Name</th>
            <th scope="col">Description</th>
            <th scope="col">Intern</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        
        <tbody>
    <%for(var i=0;i<data.length;i++){%>
        <tr>
            <th scope="row"><%=i+1%></th>
            <td><%=data[i].taskname%></td>
            <td><%=data[i].description%></td>
            <td><%=data[i].userid%></td>
            <td><a href="/editadmintasks/<%=data[i]._id%>"><button>Edit</button></td>
            <td><a href="/deleteadmintask/<%=data[i]._id%>"><button>Delete</button></td>
          </tr>
    <%}%> 
        
        </tbody>
      </table>
      
    


</div>
</div>



<% include ../footer %>
