<% include ../header %>
<h2 class="text-center" style="margin-top:2%">Team Tasks</h2>
<div class="container" style="padding-top:4%">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Task Name</th>
        <th scope="col">Description</th>
        <th scope="col">Intern</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Score</th>
        <th scope="col">Remarks</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <%for(var i=0;i<data.length;i++){%>
      <tr>
        <td style=""><a href="/admin/task/<%=data[i]._id%>"><%=data[i].taskname%></a></td>
        <td style=""><%=data[i].description.substring(0,20)%></td>
        <td style=""><%=data[i].username%></td>
        <td style=""><%=data[i].date%></td>
        <td style="background-color:<%=data[i].color%>;"><%=data[i].status%></td>
        <td style=""><%=data[i].score%></td>
        <td style=""><%=data[i].remarks%></td>
        <td style=""><a href="/editadmintasks/<%=data[i]._id%>"><button class="btn btn-info">Edit</button>
        </td>
        <td style=""><a href="/deleteadmintask/<%=data[i]._id%>"><button class="btn btn-warning">Delete</button></td>
      </tr>
      <%}%> 

      </tbody>
    </table>
            <a href="/admin/adiiufbibfyyagygdsigf78767iuyfuiauiufu776f9789ds7fhhuhsh" class="btn btn-success">New Task</a>

  </div>

<% include ../footer %>