<% include ../header %>
<br>
<br>
<div class="container card" style="padding:2em">
    <h2><b>Task</b> : <%= task.taskname %></h2>
    <br>
    <blockquote>
        <pre><%= task.description %></pre>
    </blockquote>
    <div class="card" style="padding:2em">
        <h5>Comments:</h5>
        <% task.comments.forEach(function(comm){ %>
        <div>
            <p style="font-size:0.8em"><%= comm.author %>:<span style="font-size:1rem"><%= comm.text%></span></p>
        </div>
        <% }) %>
        <p>Enter your comment</p>
        <form class="form-inline" action="/admin/task/<%=task._id%>/comment" method="POST">
            <div class="form-row">
                <div class="col">
                    <input type="text" name="comment">
                </div>
                <div class="col">
                    <input type="submit">
                </div>
            </div>
        </form>
    </div>
</div>

<% include ../footer %>