<% include ../header %>

<div class="container">
<table class="table">
        <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Task Name</th>
              <th scope="col">Task Lead</th>
              <th scope="col">Description</th>
              <th scope="col">Status</th>
              <th scope="col">Date</th>
              <th scope="col">Comment</th>

              <th scope="col">Edit</th>

          </tr>
        </thead>
        <tbody>
            <%for(var i=0;i<data.length;i++){%>
                <tr>
                    <th scope="row"><%=i+1%></th>
                    <td><a href="/admin/task/<%=data[i]._id%>"><%=data[i].taskname%></a></td>
                    <td><%=data[i].teamleadname%></td>
                    <td><%=data[i].description%></td>
                    <td><%=data[i].status%></td>
                    <td><%=data[i].date%></td>
                    <td><%=data[i].comment%></td>

            <td><a href="/intern/edit/<%=data[i]._id%>"><button>Edit</button></td>


                  </tr>
            <%}%> 
        </tbody>
      </table>

    </div>

<% include ../footer %>

