<% include ../header %>

<br><br>
<div class="container">
<table class="table" style="margin: 0; display:inline;">
    <thead class="thead-dark">
        <tr>
            <th style="width: 200px;" scope="col">S. No.</th>
            <th style="width: 300px;" scope="col">Username</th>
            <th style="width: 300px;" scope="col">Password</th>
            <th style="width: 150px;" scope="col">Edit</th>
            <th style="width: 150px;" scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < data.length; i++){ %>
        <tr>
            <th scope="row"><%=i+1 %></th>
            <td><%= data[i].username %></td>
            <td><%= data[i].password %></td>
            <td><a href="secretedit/<%= data[i]._id %>" type="button" class="btn btn-primary">Edit</a></td>
            <td><a href="secretdelete/<%= data[i]._id %>" type="button" class="btn btn-danger">Delete</a></td>
        </tr>
        <% } %>
 
    </tbody>
</table>
</div>
<% include ../footer %>